
/* elements */


* {
    box-sizing: border-box;
  }
  


body {
    background-image: url("../../assets/images/52166.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;


}

nav {
    background-color: #EC1D24;
    
}

img {
    max-height: 215px;
    min-height: 150px;
    max-width: 350px;
    min-width: 150px;
    object-fit: cover;
    padding: 30px;
    float: left;
   
}

.nav-item {
    color: #FADFB2;
    font-size:30px;
    font-family: 'Marvel', sans-serif;

}

#nav {
    display: table;
    width: 100%;
    
  
}

#nav li {
    display: table-cell;
    font-family: 'Marvel', sans-serif;
}
#overwrite-navbar-brand {
    color: #FADFB2;
    font-weight: bolder;
}

p {
    font-family: 'Marvel', sans-serif;
    padding-left: 40px;
    color: #FADFB2;
    font-size: large;
}
